<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBucx_BhYsDTua_cKJ_A4Ij3qswolEhGgI</string>
	<key>GCM_SENDER_ID</key>
	<string>901728635521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahbarindia.app</string>
	<key>PROJECT_ID</key>
	<string>rahbarindian-5d3a2</string>
	<key>STORAGE_BUCKET</key>
	<string>rahbarindian-5d3a2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901728635521:ios:d4a5701ce0addfc1a79b80</string>
</dict>
</plist>