<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.otf</string>
		<string>Inter-Black.otf</string>
		<string>Inter-BlackItalic.otf</string>
		<string>Inter-BoldItalic.otf</string>
		<string>Inter-ExtraBold.otf</string>
		<string>Inter-ExtraBoldItalic.otf</string>
		<string>Inter-ExtraLight-BETA.otf</string>
		<string>Inter-ExtraLightItalic-BETA.otf</string>
		<string>Inter-Italic.otf</string>
		<string>Inter-Light-BETA.otf</string>
		<string>Inter-LightItalic-BETA.otf</string>
		<string>Inter-Medium.otf</string>
		<string>Inter-MediumItalic.otf</string>
		<string>Inter-Regular.otf</string>
		<string>Inter-SemiBold.otf</string>
		<string>Inter-SemiBoldItalic.otf</string>
		<string>Inter-Thin-BETA.otf</string>
		<string>Inter-ThinItalic-BETA.otf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>PlusJakartaSans-BoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraBold.ttf</string>
		<string>PlusJakartaSans-ExtraBoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraLight.ttf</string>
		<string>PlusJakartaSans-ExtraLightItalic.ttf</string>
		<string>PlusJakartaSans-Italic.ttf</string>
		<string>PlusJakartaSans-Light.ttf</string>
		<string>PlusJakartaSans-LightItalic.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>PlusJakartaSans-MediumItalic.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-SemiBoldItalic.ttf</string>
		<string>Mulish-Bold.ttf</string>
		<string>Mulish-SemiBold.ttf</string>
		<string>Mulish-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
